body {
    position: relative;
    overflow: hidden;

    /*Para que no haya overlap entre el navbar y el contenido*/
    padding-top: 50px;

    font-family: 'Taviraj', serif;
}

/*Títulos y subtítulos*/
h1,
h2 {
    font-family: 'Playfair Display SC', serif;
}

h3,
h4 {
    font-family: 'Playball', cursive;
}


/*-----CARRUSEL------*/
/*Item del carrusel*/
.carousel-item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/*Vídeo*/
#titulo video {
    width: 100vw;
}

/*Texto del carrusel*/
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

/*SOBRE NOSOTROS*/
#sobre-nosotros img {
    width: 100%;
}

/*OPINIONES*/
#opiniones .card {
    background-color: rgb(36, 28, 20);
}


/*SERVICIOS*/
#servicios .btn {

    background-color: rgb(195, 170, 148);
    border-color: rgb(36, 28, 20);

}

#servicios .btn h4 {
    color: rgb(36, 28, 20) !important;
}


#servicios .card{

    background-color: rgb(36, 28, 20) !important;
    border-color: rgb(195, 170, 148);
}

/*SCROLL SPY*/
.scrollspy-example {
    position: relative;
    height: 90vh;
    overflow: auto;

    overflow-x: hidden;
}


.card {
    width: 18rem;
}

#servicios button {
    width: 80px;
    height: 90px;
    padding: 0;
    border: none;
}

#servicios img {
    width: 100%;
    overflow: hidden;
}